.viewButton{
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
}
.tableCont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 4;
    padding: 50px;
}
.datatableTitle:active{
    color: white !important;
}
.cellAction{
    display: flex;
}
.datatableTitle{
    background-color: #0b2847e0;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.638);
}
.datatableTitle:hover{
    color: rgba(255, 255, 255, 0.886);
    background-color: #0b2847c8;
}