.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #0b2847d1;
    position: sticky;
    top: 50px;
    font-weight:700;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #fff;
  }
  
  .sidebarMenu {
  }
  
  .sidebarTitle {
    font-weight: 600;
    color:white;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: #173f67;
    color: white;
  }
  
  
  .sidebarIcon{
      margin-left: 110px;
      font-size: 20px !important;
  }